@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

:root {
    --branco: #fff;
    --branco-escuro: #f8f8f8;
    --preto: #19212b;
    --preto-claro: #2d2d2d;
    --azul-claro: #2F5597;
    --azul-escuro: #222a35;
    --cinza-claro: #909090;
    --cinza-bg: #efefef
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-size: 16px;
    color: var(--preto);
    background-color: var(--branco);
}

a, a:hover {
    text-decoration: none;
    color: inherit;
    outline: none;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

/*-----------------*/

.header-home {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    max-width: 100%;
    margin-top: 2rem;
}

.foto-perfil {
    display: inline-block;
    width: 56px;
    margin-left: 60px;
    height: auto;
}

.nome-perfil {
    align-items: center;
    white-space: nowrap;
    color: #fff;
    font-family: 'Sora', sans-serif;
    padding-top: 15px;
}

.perfil {
    display: flex;
    justify-content: space-around;
    width: 25%;
}

.botoes {
    display: flex;
    justify-content: space-between;
    width: 25%;
    margin-right: 5%;
}

.botao-home, .botao-produtos, .botao-meu-perfil {
    background-color: transparent;
    border-color: transparent;
    color: #909090;
    font-family: 'Sora', sans-serif;
    font-size: 18px;
    padding-left: 2%;
}

.main {
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: 'Sora', sans-serif;
    background-image: url("../images/topo.png");
    max-width: 100%;
    height: 545px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.section-saldo {
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #909090;
    margin-top: 4rem;
    padding-bottom: 2rem;
    margin: 0 auto;
}

.valor-saldo {
    font-size: 80px;
    font-weight: 400;
    line-height: 99px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #DCB6F8;
    width: auto;
    height: 90px;
}

.saldo-joias {
    color: #DCB6F8;
    font-family: 'Sora', sans-serif;
    font-weight: 400;
    font-size: 24px;
    height: 34px;
    margin-bottom: 20px;
}

.saldo-joias2 {
    color: #DCB6F8;
    font-family: 'Sora', sans-serif;
    font-weight: 400;
    font-size: 24px;
    height: 34px;
}

.imagem-valor {
    width: 95%;
    height: auto;
}

.section-joias {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5px;
    width: 142px;
    height: auto;
    max-width: 100%;
    margin-left: 45%;
    padding-bottom: 1rem;
    margin: 0 auto;
}

.section-calendario {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    width: 460px;
    max-width: 100%;
    height: 40px;
    margin-left: 35%;
    border-radius: 20px;
    font-family: 'Sora', sans-serif;
    font-size: 18px;
    font-weight: bold;
    background-color: black;
    letter-spacing: .2px;
    color: #909090;
    margin: 0 auto;
}

.icone-calendario {
    width: 24px;
    height: auto;
    color: #DCB6F8;
}

.section-validade-lupa {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 1.5rem;
    margin: 0 auto;
}

.validade {
    color: #909090;
    font-size: 20px;
}

.lupa {
    position: relative; 
    bottom: 6vh; 
    margin-left: 27.5%;
    width: 45%;
    height: 72px;
    border-radius: 8px;
    font-family: 'Sora', sans-serif;
    font-size: 18px;
    text-indent: 72px;
    background-image: url("../images/lupa.png");
    background-size: 32px;
    background-position: 5% 50%;
    background-repeat: no-repeat;
    padding: 22px;
    outline: none;
}

.lupa ::placeholder {
    max-width: 225px;
    height: 27px;
    font-family: 'Sora', sans-serif;
    font-size: 18px;
    color: #9E9E9E;
}

.container-home {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.banner-central {
    text-align: center;
    margin-top: 10em;
    margin-left: 7.5%;
    width: 85%;
}

/*--------------------------------------------*/

.titulo-produtos {
    font-family: 'Sora', sans-serif;
    margin-top: 10em;
    margin-left: 7.5%;
    margin-bottom: 2.5em;
    width:  85%;
    color: #212121;
}

.conjunto-cards {
    font-family: 'Sora', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 7.5%;
    width: 85%;
    max-width: 100%;
    padding-bottom: 317px;
}

.card-produto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 22%;
    height: 317px;
    margin: 15px;
    border-radius: 16px;
}

.imagem-produto {
    align-items: flex-start;
    justify-content: center;
    width: auto;
    height: 150px;
    margin-left: 60px;
    background-color: #EEEEEE;
    border: 1px solid #EEEEEE;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.descricao-produto {
    flex-direction: column;
    text-align: center;
    height: 160px;
}

.titulo-produto {
    text-align: center;
    max-height: 100%;
    padding: 10px;
}

.div-botao-card {
    align-items: self-end;
    justify-content: center;
    margin-left: 5.5%;
    margin-bottom: 5.5%;

}

.botao-card {
    text-align: center;
    background-color: #502B6B;
    color: #fff;
    font-family: 'Sora', sans-serif;
    border: none;
    width: 238px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
}


