@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Sora:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFFFFF;
}

body {
    font-family: "Sora", sans-serif;
}

.container-cabecalho {
    width: 100%;
    margin: 0 auto;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.perfil-ana {
    display: flex;
    align-items: center;
}

.foto-perfil {
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.perfil-ana span {
    font-size: 24px; 
    color: #6D4C81; 
}

.perfil-ana strong {
    font-weight: 700; 
}

.menu-cabecalho ul {
    list-style: none;
    display: flex;
}

.menu-cabecalho ul li {
    margin-left: 20px;
}

.menu-cabecalho ul li a {
    text-decoration: none;
    color: black;
}

.container-menu-lateral {
    display: flex;
}

.menu-lateral {
    background-color: #FFFFFF; 
    padding: 20px;
    min-height: 100vh;
    width: 50vh;
}

.menu-lateral a {
    text-decoration: none;
    color: #6D4C81; 
    display: block;
    margin-bottom: 20px;
}

.menu-lateral .icone {
    margin-right: 5px;
}

.conteudo-principal {
    flex: 1;
    padding: 20px;
}

.minhas-joias h2 {
    color: #333;
    margin-bottom: 20px;
}

.joia {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.joia img {
    width: 20px;
    height: 20px;
    margin-bottom: 15px;
    border-radius: 8px;
}

.joia h3 {
    margin-bottom: 5px;
    color: #5a5a5a;
}

.joia p {
    color: #6b6b6b;
    line-height: 1.5;
}