@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Sora:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sora", sans-serif;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column; 
    min-height: 100vh; 
}

.container-principal {
    display: flex;
    flex-direction: row; 
    width: 100%;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%; /* Garante que o cabeçalho ocupe toda a largura disponível */
    position: fixed; /* Fixa o cabeçalho no topo */
    top: 0;
    background-color: #FFFFFF;
}

.perfil-ana {
    display: flex;
    align-items: center;
}

.foto-perfil {
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.perfil-ana span {
    font-size: 24px;
    color: #6D4C81;
}

.perfil-ana strong {
    font-weight: 700;
}

.menu-cabecalho ul {
    list-style: none;
    display: flex;
}

.menu-cabecalho ul li {
    margin-left: 20px;
}

.menu-cabecalho ul li a {
    text-decoration: none;
    color: black;
}

.menu-lateral {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 200px; /* Largura fixa para o menu lateral */
    height: calc(100vh - 60px); /* Subtraído pela altura do cabeçalho */
    margin-top: 60px; /* Espaço para o cabeçalho */
}

.menu-lateral a {
    text-decoration: none;
    color: #6D4C81;
    display: block;
    margin-bottom: 20px;
}
h2{
    padding: 20px;
}

.container-produtos-resgatado {
    flex-grow: 1; /* Ocupa o espaço restante */
    padding: 20px;
    margin-top: 60px; 
    margin-left: 200px; 
}

.produtos-resgatados {
    width: 70%; 
}

.container-produto {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start; /* Alinha os produtos ao início */
}


.container-resgates {
    flex-basis: calc(30% - 20px); 
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #FFFFFF;
    margin-bottom: 20px; 
}

.img-resgate img {
    width: 100%;
    height: auto;
}

.texto-resgate {
    padding: 10px;
}

.texto-resgate span{
    color: #212121;
    font-weight: 600;
}

.texto-resgate p{
    color: #9E9E9E;
    font-weight: 400;
    padding: 5px;
}
.data{
    display: flex;
}
.data span{
    align-content: flex-start;
}