@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700;900&display=swap');

:root {
    --branco: #fff;
    --branco-escuro: #f8f8f8;
    --preto: #19212b;
    --preto-claro: #2d2d2d;
    --azul-claro: #2F5597;
    --azul-escuro: #222a35;
    --cinza-claro: #909090;
    --cinza-bg: #efefef
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: var(--preto);
    background-color: var(--branco);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url("../images/fundo.png");
    width: 100%;
    height: 100%;
    top: -2613px;
    left: -720px;
    margin: 0 auto;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
    outline: none;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

img {
    max-width: 100%
}

/*---------------Abertura----------------*/

.div-botao {
    display: flex;
    justify-content: center;
}

.botao-fazer-login {
    padding: 12px 64px 12px 64px;
    border-radius: 16px;
    gap: 10px;
    background: #DCB6F8;
    width: 382px;
    height: 72px;
    top: 491px;
    left: 529px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 40px;
    cursor: pointer;
}

img {
    margin-top: 33%;
    width: 530.3px;
    height: 181px;
    top: 259px;
    left: 455px;
}

