@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700;900&display=swap');

:root {
    --branco: #fff;
    --branco-escuro: #f8f8f8;
    --preto: #19212b;
    --preto-claro: #2d2d2d;
    --azul-claro: #2F5597;
    --azul-escuro: #222a35;
    --cinza-claro: #909090;
    --cinza-bg: #efefef
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: var(--preto);
    background-color: var(--branco);
}

a, a:hover {
    text-decoration: none;
    color: inherit;
    outline: none;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

img {
    max-width: 100%
}

.container-index {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("../images/fundo.png");
    width: 1440px;
    height: 823px;
    top: -2613px;
    left: -720px;
    margin: 0 auto;
    justify-content: center;
}

/*---------------Abertura----------------*/

.div-botao {
    display: flex;
    justify-content: center;
}

.botao-fazer-login {
    padding: 12px 64px 12px 64px;
    border-radius: 16px;
    gap: 10px;
    background: #DCB6F8;
    width: 382px;
    height: 72px;
    top: 491px;
    left: 529px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 40px;
    cursor: pointer;
}

img {
    width: 530.3px;
    height: 181px;
    top: 259px;
    left: 455px;
}
/*----------------Login--------------------*/

.container-login {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-image: url("../images/fundo.png");
    width: 1440px;
    height: 823px;
    margin: 0 auto;
    margin-left: 0%;
}

.logo-linkcom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.linkcom-logo-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 414.49px;
    height: auto;
    margin-left: 9rem;
    margin-right: 9rem;
}

.formulario-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 50%;
    height: 100%;
    border-radius: 32px, 0px, 0px, 32px; /* não funcionou*/    
}

.titulo-boas-vindas {
    display: flex;
    text-align: left;
    color: #3E4C76;
}

.titulo-login {
    display: flex;
    color: #502B6B;
    padding-top: 0.5em;
    padding-bottom: 2rem;
}

.input-login {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 382px;
    height: 72px;
    padding: 4px;
    margin-right: 9rem;
    margin-left: 9rem;
    border-color: aqua;
    border-radius: 0.7rem;
}

.section-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.section-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.botao-home {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #502B6B;
    color: white;
    width: 382px;
    height: 72px;
    margin-right: 9rem;
    margin-left: 9rem;
    border-radius: 0.7rem;
}


/*----------------Home--------------------*/
